{% extends "base_layout.html" %}
{% block title %}File Dropper{% endblock %}
{% block content %}
    <form method="POST" action='/upload' class="dropzone dz-clickable"
          id="dropper" enctype="multipart/form-data">
    </form>

    <script type="application/javascript">
        Dropzone.options.dropper = {
            paramName: 'file',
            chunking: true,
            forceChunking: true,
            url: '/upload',
            maxFilesize: 2049, // megabytes
            chunkSize: 50000000, // bytes - 50MB
            retryChunks: true,
            init: function() {
              this.on("success", function(file) {
                console.log({"success": file})
                console.log({"complete": file.xhr.response})
              });
              this.on("uploadprogress", function(file, progress, bytesSent) {
                if (progress == 100) {
                    console.log({"uploadprogress": file})
                    console.log(file.upload.chunks.length + "/" + file.upload.totalChunkCount)
                }
              });
              this.on("complete", function(file) {
                console.log({"complete": file})
                console.log({"complete": file.xhr.response})
              });
            },
        }
    </script>
{% endblock %}

